Android/notification-hubs-sdk-e2etestapp/bin
Android/notification-hubs-sdk-e2etestapp/gen
Android/notification-hubs-sdk/bin
Android/notification-hubs-sdk/gen
Android/notification-hubs-sdk-testapp/bin
Android/notification-hubs-sdk-testapp/gen
Android/notification-hubs-sdk-testapp-tests/bin
Android/notification-hubs-sdk-testapp-tests/gen

iOS/WindowsAzureMessaging/build
iOS/WindowsAzureMessaging/WindowsAzureMessaging.xcodeproj/*xcworkspace*
iOS/WindowsAzureMessaging/WindowsAzureMessaging.xcodeproj/*xcuserdata*
iOS/WindowsAzureMessagingTest/build
iOS/WindowsAzureMessagingTest/WindowsAzureMessagingTest.xcodeproj/*xcworkspace*
iOS/WindowsAzureMessagingTest/WindowsAzureMessagingTest.xcodeproj/*xcuserdata*
iOS/BVT/build
iOS/BVT/IosSdkTests.xcodeproj/*xcworkspace*
iOS/BVT/IosSdkTests.xcodeproj/*xcuserdata*
iOS/BVT/RunTests.sh
iOS/BVT/GHUnitIOS.framework
iOS/BVT/WindowsAzureMessaging.framework

iOS/BVT/IosSdkTests/Default.png

iOS/BVT/IosSdkTests/Default-568h@2x.png

iOS/BVT/IosSdkTests/Default@2x.png
