Android/notification-hubs-sdk-e2etestapp/bin
Android/notification-hubs-sdk-e2etestapp/gen
Android/notification-hubs-sdk/bin
Android/notification-hubs-sdk/gen
Android/notification-hubs-sdk-testapp/bin
Android/notification-hubs-sdk-testapp/gen
Android/notification-hubs-sdk-testapp-tests/bin
Android/notification-hubs-sdk-testapp-tests/gen

iOS/WindowsAzureMessaging/build
iOS/WindowsAzureMessaging/WindowsAzureMessaging.xcodeproj/project.xcworkspace
iOS/WindowsAzureMessaging/WindowsAzureMessaging.xcodeproj/project.xcuserdata
iOS/WindowsAzureMessagingTest/build
iOS/WindowsAzureMessagingTest/WindowsAzureMessagingTest.xcodeproj/project.xcworkspace
iOS/WindowsAzureMessagingTest/WindowsAzureMessagingTest.xcodeproj/project.xcuserdata